@charset "UTF-8";
body {
  background: #f9f9f9;
  color: #666;
  margin: 0;
  padding: 24px 0;
  font-family: Tahoma;
  font-size: 14px;
  line-height: 22px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 24px;
  box-sizing: border-box;
  word-wrap: break-word;
}

h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  position: relative;
}

header .container {
  border-bottom: 1px solid #eee;
}

header .container .table {
  display: table;
  width: 100%;
}

header .container .table .leftinfo {
  display: table-cell;
  vertical-align: middle;
  width: 35%;
}

header .container .table .leftinfo h1 {
  display: block;
}

header .container .table .leftinfo h1 span {
  display: block;
  font-size: 16px;
}

header .container .table .rightinfo {
  display: table-cell;
  vertical-align: middle;
  width: 65%;
}

@media (max-width: 768px) {
  header .container .table > div {
    display: block !important;
    width: 100% !important;
  }

}

#headmenu {
  display: block;
}

#headmenu .container {
  background: #666;
  color: #fff;
  padding: 0 24px;
}

#headmenu .container ul {
  display: flex;
  margin: 0;
  padding: 6px 0;
  justify-content: center;
}

#headmenu .container ul li {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#headmenu .container ul li a {
  display: block;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px 14px;
  transition: ease-in 0.3s;
  text-align: center;
}

#headmenu .container ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

#headmenu .container ul li:last-child a {
  border-right: 0;
}

@media (max-width: 768px) {
  #headmenu .container {
    padding: 0;
  }
  #headmenu .container ul {
    display: block;
    justify-content: none !important;
  }
  #headmenu .container ul li {
    display: block;
  }
  #headmenu .container ul li a {
    text-align: left;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #headmenu .container ul li:last-child {
    border-bottom: 0;
  }
}

.les-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  font-size: 200%;
}
.les-list li {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.les-list li:last-child {
  border-bottom: 0;
}

.les-list li .quickedit {
  display: block;
  width: 100%;
  background: #eee;
  box-sizing: border-box;
}

.les-list li .quickedit li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.les-list li .quickedit li:last-child {
  border-bottom: 0;
}

.les-list li > div {
  display: table-cell;
  width: auto;
  vertical-align: middle;
  padding: 6px 14px;
}

.les-list li .dersid {
  width: 10%;
  text-align: center;
}

.les-list li .ogrencino {
  width: 25%;
}

.les-list li .ogrenciadi {
  width: 25%;
}

.les-list li .ogrencininbolumu {
  width: 25%;
}

.les-list li .ogrencinotu {
  width: 25%;
  text-align: center;
}

.les-list li .dersadi {
  width: 25%;
}

.les-list li .dershocasi {
  width: 25%;
}

.les-list li .dersakts {
  width: 20%;
}

.les-list li .dersproccess {
  width: 20%;
  text-align: right;
}

.les-list li .dersproccess a {
  display: inline-block;
  margin-left: 12px;
}

.les-list li .dersproccess a:first-child {
  margin-left: 0;
}

.les-list li.title {
  background: #666;
  color: #fff;
}

@media (max-width: 768px) {
  .les-list li.title {
    display: none;
  }
  .les-list li.title > div {
    content: '' !important;
  }
  .les-list > li {
    display: block;
    width: 100%;
    background: #f9f9f9;
    box-sizing: border-box;
    margin-bottom: 14px;
  }
  .les-list > li:nth-child(2n) {
    margin-bottom: 0;
  }
  .les-list > li > div {
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
  .les-list > li > .dersid::before {
    content: 'Ders ID: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .dersadi::before {
    content: 'Ders Adı: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .dershocasi::before {
    content: 'Ders Hocası: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .dersakts::before {
    content: 'Ders AKTS / Kredi: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .dersproccess {
    text-align: center !important;
  }
  .les-list > li > .ogrenciadi::before {
    content: 'Öğrenci Adı: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .ogrencino::before {
    content: 'Öğrenci No: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .ogrencininbolumu::before {
    content: 'Öğrenci Bölümü: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li > .ogrencinotu::before {
    content: 'Öğrenci Notu: ';
    font-weight: 600;
    padding-right: 7px;
  }
  .les-list > li.dropdown {
    margin-bottom: 14px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  }
  .les-list > li.dropdown:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .les-list li > div::before {
    display: block;
  }
}

footer {
  border-top: 1px solid #eee;
  margin-top: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

footer .container {
  padding: 0;
  background: transparent;
}

div form {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

div form .text-right {
  text-align: right;
}

div form .form-group {
  display: block;
  margin: 0;
  padding: 12px 0;
}

div form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

div form .form-group input, div form .form-group select {
  display: block;
  margin: 0;
  padding: 14px 19px;
  box-sizing: border-box;
  border: none;
  background: #f9f9f9;
  width: 100%;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  transition: ease-in 0.3s;
}

div form .form-group input:focus, div form .form-group select:focus {
  background: #eee;
}

div form .form-group button {
  display: inline-block;
  margin: 0;
  padding: .375rem .75rem;
  line-height: 1.5;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: ease-in 0.3s;
  border-radius: 4px;
}

div form .form-group button:hover {
  background: black;
}

div form .form-group button[type="reset"] {
  background: #6c757d;
  border-color: #6c757d;
}

div form .form-group button[type="reset"]:hover {
  background: #5a6268;
  border-color: #545b62;
}

div form .form-group .primary {
  background: #007bff !important;
  color: #fff;
  border-color: #007bff !important;
}

div form .form-group .primary:hover {
  background: #0069d9 !important;
  border-color: #0062cc !important;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary hr {
  border-top-color: #9fcdff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 24px 36px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
